# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
venv/
.venv/

# Node
node_modules/
npm-debug.log

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# Logs
*.log